@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Rubik:wght@300;400;500&display=swap");

// COLORS

// Primary
@BrightBlue: hsl(220, 98%, 61%);
@CheckBackground: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

// Light Theme
@Light_VeryLightGray: hsl(0, 0%, 98%);
@Light_VeryLightGrayishBlue: hsl(236, 33%, 92%);
@Light_LightGrayishBlue: hsl(233, 11%, 84%);
@Light_DarkGrayishBlue: hsl(236, 9%, 61%);
@Light_VeryDarkGrayishBlue: hsl(235, 19%, 35%);

//Dark Theme
@Dark_VeryDarkBlue: hsl(235, 21%, 11%);
@Dark_VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
@Dark_LightGrayishBlue: hsl(234, 39%, 85%);
@Dark_LightGrayishBlueHover: hsl(236, 33%, 92%); // Hover
@Dark_DarkGrayishBlue: hsl(234, 11%, 52%);
@Dark_VeryDarkGrayishBlue: hsl(233, 14%, 35%);
@Dark_VeryDarkGrayishBlueMedium: hsl(237, 14%, 26%);

// MIXINS

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.max-height-sections {
  max-height: 50px;
}

.max-height-sections-desktop {
  max-height: 60px;
}

.box-shadow {
  box-shadow: 16px 16px 16px -3px rgba(100, 100, 100, 0.1),
    -16px 0 16px -3px rgba(100, 100, 100, 0.1);
}

// STATE

.check-active {
  background: @CheckBackground;
}

.img-active {
  visibility: visible;
}

.img-disabled {
  visibility: hidden;
}

//  LAYOUT

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Mobile
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  font-family: "Josefin Sans";
  font-size: 18px;

  &.dark {
    background-color: @Dark_VeryDarkBlue;
  }

  &.light {
    background-color: @Light_VeryLightGray;
  }

  .img-background {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1000;

    img {
      width: 100%;
      max-height: 200px;
    }
  }

  header {
    width: 80%;
    height: 15%;
    .flex-center();
    .max-height-sections();

    .theme {
      width: 100%;
      height: 100%;
      .flex-between();
      background-color: transparent;

      p {
        font-size: 30px;
        font-weight: 700;
        color: #fff;
      }

      img {
        width: 24px;
        height: 24px;
        cursor: pointer;
      }
    }
  }

  main {
    width: 80%;
    height: 70%;
    max-height: 500px;
    margin: 16px 0;

    section {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .create-task {
        .max-height-sections();

        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        padding: 16px;
        border-radius: 4px;

        &.dark {
          background-color: @Dark_VeryDarkDesaturatedBlue;
        }

        &.light {
          background-color: #fff;
          .box-shadow();
        }

        .circle {
          width: 25px;
          height: 25px;
          margin-right: 16px;
          background-color: transparent;
          border-radius: 50%;

          &.dark {
            border: 2px solid @Dark_VeryDarkGrayishBlueMedium;
          }

          &.light {
            border: 2px solid @Light_VeryLightGrayishBlue;
          }
        }

        input {
          font-family: "Josefin Sans";
          font-weight: 400;
          width: 80%;
          border: none;
          background-color: transparent;

          &.dark {
            color: #fff;
            caret-color: @BrightBlue;

            &::placeholder {
              color: @Dark_DarkGrayishBlue;
            }
          }

          &.light {
            color: #000;
            caret-color: @BrightBlue;

            &::placeholder {
              color: @Light_DarkGrayishBlue;
            }
          }

          &:focus {
            border: 0 none;
            box-shadow: 0 0 0;
            outline: 0;
          }
        }
      }

      .task-list {
        width: 100%;
        height: 70%;
        max-height: 380px;
        border-radius: 4px;

        &.dark {
          background-color: @Dark_VeryDarkDesaturatedBlue;
        }

        &.light {
          background-color: #fff;
          .box-shadow();
        }

        .view-tasks {
          height: 85%;

          .task {
            .flex-between();
            width: 100%;
            height: 55px;
            padding: 16px;

            &.dark {
              border-bottom: 1px solid @Dark_VeryDarkGrayishBlueMedium;
            }

            &.light {
              border-bottom: 1px solid @Light_VeryLightGrayishBlue;
            }

            .task-content {
              display: flex;
              align-items: center;

              .check-button {
                .flex-center();
                height: 25px;
                width: 25px;
                margin-right: 16px;
                cursor: pointer;
                border-radius: 50%;
                background-color: transparent;

                &.dark {
                  border: 2px solid @Dark_VeryDarkGrayishBlueMedium;
                }

                &.light {
                  border: 2px solid @Light_VeryLightGrayishBlue;
                }

                &:hover {
                  border: 2px solid @BrightBlue;
                }

                .check-img {
                  width: 11px;
                  height: 11px;
                }
              }

              .task-text {
                font-size: 14px;
                font-weight: 400;
                cursor: pointer;

                &.dark {
                  color: @Dark_LightGrayishBlue;

                  &.task-completed {
                    color: @Dark_VeryDarkGrayishBlue;
                    text-decoration: line-through;
                  }
                }

                &.light {
                  color: #000;

                  &.task-completed {
                    color: @Light_LightGrayishBlue;
                    text-decoration: line-through;
                  }
                }
              }
            }

            .x-button {
              .flex-center();
              background-color: transparent;
              border: none;
              cursor: pointer;

              img {
                width: 15px;
                height: 15px;
              }
            }
          }
        }

        .clear {
          .flex-between();
          height: 15%;
          padding: 16px;

          .items-left {
            p {
              font-size: 14px;

              &.dark {
                color: @Dark_VeryDarkGrayishBlue;
              }

              &.light {
                color: @Light_DarkGrayishBlue;
              }
            }
          }

          .view-option-desktop {
            display: none;
          }

          .clear-button {
            button {
              background-color: transparent;
              border: none;
              font-size: 14px;
              font-weight: 700;
              font-family: "Josefin Sans";
              cursor: pointer;

              &.dark {
                color: @Dark_VeryDarkGrayishBlue;

                &:hover {
                  color: @Dark_LightGrayishBlueHover;
                }
              }

              &.light {
                color: @Light_DarkGrayishBlue;

                &:hover {
                  color: @Light_VeryDarkGrayishBlue;
                }
              }
            }
          }
        }
      }

      .view-option {
        .flex-center();
        .max-height-sections();
        width: 100%;
        height: 10%;
        border-radius: 4px;

        &.dark {
          background-color: @Dark_VeryDarkDesaturatedBlue;
        }

        &.light {
          background-color: #fff;
          .box-shadow();
        }

        .group {
          .flex-between();
          width: 60%;

          .view-button {
            background-color: transparent;
            border: none;
            font-family: "Josefin Sans";
            font-size: 14px;
            font-weight: 700;
            cursor: pointer;

            &.dark {
              color: @Dark_VeryDarkGrayishBlue;

              &:hover {
                color: @Dark_LightGrayishBlueHover;
              }
            }

            &.light {
              color: @Light_DarkGrayishBlue;

              &:hover {
                color: #000;
              }
            }

            &.view-active {
              color: @BrightBlue;
            }
          }
        }
      }
    }
  }

  footer {
    width: 80%;
    height: 15%;
    .flex-center();
    .max-height-sections();

    .description {
      .flex-center();
      width: 100%;
      height: 100%;

      p {
        font-size: 14px;

        &.dark {
          color: @Dark_VeryDarkGrayishBlue;
        }

        &.light {
          color: @Light_DarkGrayishBlue;
        }
      }
    }
  }
}

// Desktop

@media (min-width: 1024px) {
  body {
    .img-background {
      img {
        max-height: 300px;
      }
    }

    header {
      width: 35%;
      height: 10%;

      .theme {
        p {
          font-size: 36px;
        }

        img {
          width: 30px;
          height: 30px;
        }
      }
    }

    main {
      width: 35%;
      height: 80%;
      margin: 0;

      section {
        justify-content: space-around;

        .create-task {
          height: 15%;
          .max-height-sections-desktop();

          input {
            font-size: 16px;
            height: 100%;
          }
        }

        .task-list {
          height: 75%;
          .view-tasks {
            .task {
              .task-content {
                .task-text {
                  font-size: 16px;
                }
              }
            }
          }

          .clear {
            .items-left {
              width: fit-content;
            }

            .view-option-desktop {
              .flex-center();
              width: fit-content;

              .group-desktop {
                .flex-between();
                width: 100%;

                .view-button-desktop {
                  background-color: transparent;
                  border: none;
                  font-family: "Josefin Sans";
                  font-size: 14px;
                  font-weight: 700;
                  cursor: pointer;

                  &:nth-child(2) {
                    margin: 0 16px;
                  }

                  &.dark {
                    color: @Dark_VeryDarkGrayishBlue;

                    &:hover {
                      color: @Dark_LightGrayishBlueHover;
                    }
                  }

                  &.light {
                    color: @Light_DarkGrayishBlue;

                    &:hover {
                      color: #000;
                    }
                  }

                  &.view-active {
                    color: @BrightBlue;
                  }
                }
              }
            }
          }
        }

        .view-option {
          display: none;
        }
      }
    }

    footer {
      width: 35%;
      height: 10%;
    }
  }
}
